.title-anunciantes h2 {
  color: rgb(237, 125, 49);
  margin-left: auto;
	margin-right: auto;
  margin-bottom: 20px;
	text-align: center;
	font-family: GlacialIndifference;
  font-size: 24pt;
}

.subtitle-anunciantes h2 {
  margin-left: auto;
	margin-right: auto;
  margin-top: 1px;
  margin-bottom: 1px;
	text-align: center;
	font-family: GlacialIndifference;
  font-size: 16pt;
  color: rgb(64, 64, 64);
}

.column-central-ad {
  display: inline-block;
  position: relative;
  width: 320px;
  text-decoration: none;
  margin-left: 0.5%;
  margin-right: 0.5%;
  height: 400px;
}

.column-central-ad img {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Espaço onde ficam todos os ads */
.row-all-ad-images {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: GlacialIndifference;
  display: block;
  position: relative;
}

/* Centraliza todos textos dentro dos ads */
.row-all-ad-images p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 20px;
}

/* Espaço de cada ad lateral */
.column-each-side-ad {
  display: inline-block;
  width: 160px;
  text-decoration: none;
  margin-left: 0.7%;
  margin-right: 0.7%;
  height: 210px;
  border-top-left-radius: 0.15cm;
  border-top-right-radius: 0.15cm;
  border-bottom-right-radius: 0.15cm;
  border-bottom-left-radius: 0.15cm;
  box-shadow: 0px 0px 5pt rgba(191, 191, 191, 0.6);
  margin-bottom: 85px;
}

/* Espaço onde fica o título do ad lateral */
.row-title-side-ad {
  display: block;
  height: 20%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-top-left-radius: 0.15cm;
  border-top-right-radius: 0.15cm;
  text-decoration: none;
  background-color: rgb(237, 125, 49);
  font-size: 14pt;
  font-weight: bold;
  color: white;
}

/* Espaçamento para o título do ad lateral */
.row-title-side-ad p {
  width: 140px;
}

/* Espaço onde fica o texto no ad lateral */
.row-text-side-ad {
  display: block;
  height: 80%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-bottom-right-radius: 0.15cm;
  border-bottom-left-radius: 0.15cm;
  text-decoration: none;
  color: rgb(64,64,64);
  font-size: 14pt;
}

/* Espaçamento para o texto do ad lateral */
.row-text-side-ad p {
  width: 130px;
}

/* Padroniza a cor de todo o conjunto que representa o ad */
#side-ad-change-color-on-hover {
  text-decoration: none;
  transition: 0.3s;
}

/* Muda a cor de todo o conjunto que representa um link */
#side-ad-change-color-on-hover:hover {
  box-shadow: 0px 0px 5pt rgba(237, 125, 49, 0.6);
  transition: 0.3s;
  transform: scale(1.05);
}

#text-anuncio{
	margin-left: 105px;
	margin-top: 72px;
}

#text-h4-anunciantes{
	font-family: GlacialIndifference;
	font-size: 12pt;
	color: rgb(118,113,113);
}

.column-left {
  display: inline-block;
  width: 350px;
  text-decoration: none;
  margin-right: 5%;
  margin-left: 15%;
  height: 210px;
}

.column-right {
  display: inline-block;
  width: 350px;
  text-decoration: none;
  margin-right: 15%;
  margin-left:5%;
  height: 210px;
  text-align: center;
}