.register-right {
  border: none;
  box-shadow: 0px 0px 5pt rgba(191, 191, 191, 0.6);
  border-top-left-radius: 0.65cm;
  border-bottom-left-radius: 0.65cm;
  border-top-right-radius: 0.65cm;
  border-bottom-right-radius: 0.65cm;
  margin-bottom: 0.5cm;
  width: 11.93cm;
}

.form-item {
  margin-bottom: 0.3cm;
}

.register-right h2 {
  font-family: 'Bebas Neue', cursive;
  font-size: 16pt;
  text-align: center;
  margin-top: 1cm;
  letter-spacing: 6px;
  color: rgb(237, 125, 49);
}

.register-right label {
  margin-left: 0.605cm;
  margin-bottom: 2px;
  font-family: GlacialIndifference;
  font-size: 12pt;
}

.register-right input,
.register-right select {
  border-radius: 0.15cm;
  border-style: solid;
  border-color: rgb(118, 113, 113);
  border-width: 0.5pt;
  width: 14cm;
  height: 0.9cm;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-family: GlacialIndifference;
  padding-left: 15px;
  font-size: 10pt;
  background-color: white;
  color: rgb(118,113,113);
}

.form-item optgroup {
  color: rgb(237, 125, 49);
}

.register-right input[type=file]::-webkit-file-upload-button {
  background-color: rgb(175,171,171);
  border: 1px solid rgb(64, 64, 64);
  outline: none;
  cursor: pointer;
  font-size: 10pt;
  width: 3.11cm;
  height: 0.68cm;
  color: rgb(118,113,113);
  margin-right: 0.4cm;
}

.register-right input[type="file"]::file-selector-button{
  background-color: rgb(175,171,171);
  border: 1px solid rgb(64, 64, 64);
  outline: none;
  cursor: pointer;
  font-size: 10pt;
  width: 3.11cm;
  height: 0.68cm;
  color: rgb(118,113,113);
  margin-right: 0.4cm;
}

.register-right input[type="file"] {
  padding-left: 5px;
  padding-top: 4px;
}

.register-right small {
  font-family: GlacialIndifference;
  font-size: 8pt;
  margin-left: 0.605cm;
}

.register-right .btn-primary {
  text-align: center;
  border-radius: 0.15cm;
  border-width: 0.5pt;
  border-style: solid;
  border-color: rgb(237,125,49);
  font-size: 12pt;
  width: 3.5cm;
  height: 0.9cm;
  background: rgb(237,125,49);
  font-family: GlacialIndifference;
  color: rgb(255,255,255);
  margin-top: 0.4cm;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5cm;
  display:block;
  font-weight: bold;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(175,171,171);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgb(175,171,171);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgb(175,171,171);
}

.register-right input:focus,
.register-right select:focus {
  outline: none;
  border-color: rgb(237, 125, 49);
  box-shadow: 0px 0px 5pt rgba(237, 125, 49, 0.6);
}

.register-right select:invalid{
  color: rgb(175,171,171);
}

.register-right input[type="date"]:invalid{
  color: rgb(175,171,171);
}

.register-right select option{
  color: rgb(118,113,113);
}

.register-right .btn-primary:hover {
  background: #ffffff;
  color: rgb(237, 125, 49);
  outline: none;
  border-color: rgb(237, 125, 49);
  box-shadow: 0px 0px 5pt rgba(237, 125, 49, 0.6);
}
