.carousel-center {
    text-align: center;
    position: relative;
}

.carousel-container {
    width: 77%;
    display: flex;
    flex-direction: column;
    margin: 0px;
    display: inline-block;
}

.carousel-wrapper {
    display: flex;
    width: 100%;
    position: relative;
}

.carousel-content-wrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.carousel-content {
    display: flex;
    transition: all 250ms linear;
    -ms-overflow-style: none;  /* hide scrollbar in IE and Edge */
    scrollbar-width: none;  /* hide scrollbar in Firefox */
}

/* hide scrollbar in webkit browser */
.carousel-content::-webkit-scrollbar, .carousel-content::-webkit-scrollbar {
    display: none;
}

.carousel-content > * {
    width: 100%;
    flex-shrink: 0;
    flex-grow: 1;
}

.left-arrow, .right-arrow {
    position: absolute;
    z-index: 2;
    top: 50%;
    font-size: 19pt;
    transform: translateY(-50%);
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background-color: white;
    border: 1.5px solid rgb(231, 230, 230);
    padding-bottom: 5px;
    color: rgb(237,125,49);
    transition: 0.3s;
}

@media only screen and (min-width: 1200px){
    .left-arrow {
        left: -60px;
    }
    
    .right-arrow {
        right: -60px;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 992px){
    .left-arrow {
        left: -60px;
    }
    
    .right-arrow {
        right: -60px;
    }
}

@media only screen and (max-width: 992px) and (min-width: 768px){
    .left-arrow {
        left: -60px;
    }
    
    .right-arrow {
        right: -60px;
    }
}

@media only screen and (max-width: 768px) and (min-width: 576px){
    .left-arrow {
        left: -35px;
    }
    
    .right-arrow {
        right: -35px;
    }
}

@media only screen and (max-width: 576px) and (min-width: 425px){
    .left-arrow {
        left: -5px;
    }
    
    .right-arrow {
        right: -5px;
    }
}

@media only screen and (max-width: 425px) {
    .left-arrow {
        left: -25px;
    }
    
    .right-arrow {
        right: -25px;
    }
}

.left-arrow:focus {
    outline: none;
}

.right-arrow:focus {
    outline: none;
}

.left-arrow:hover {
    box-shadow: 0px 0px 5pt rgba(237, 125, 49, 0.6);
    transition: 0.3s;
}

.right-arrow:hover {
    box-shadow: 0px 0px 5pt rgba(237, 125, 49, 0.6);
    transition: 0.3s;
}

/* @media (hover: none) and (pointer: coarse) {
    .left-arrow, .right-arrow {
        display: none;
    }
} */

.carousel-content.show-1 > * {
    width: 100%;
}

.carousel-content.show-2 > * {
    width: 50%;
}

.carousel-content.show-3 > * {
    width: calc(100% / 3);
}

.carousel-content.show-4 > * {
    width: calc(100% / 4);
}

.carousel-content.show-5 > * {
    width: calc(100% / 5);
}
