/* título da página */
.title-utilizarsite {
    color: rgb(237, 125, 49);
    margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: GlacialIndifference;
    font-size: 16pt;
}
/* subtítulo da página */
.subtitle-utilizarsite {
    color: rgb(64, 64, 64);
    margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: GlacialIndifference;
    font-size: 12pt;
}

.topic-utilizarsite {
    color: rgb(237, 125, 49);
    margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: GlacialIndifference;
    font-size: 16pt;
}

.row-all-howtouse {
	width: 100%;
	text-align: center;
}

.column-each-howtouse {
	display: inline-block;
	width: 49.5%;
	text-align: center;
	border-width: 10px;
	border-right-color: black;
}



.row-title-howtouse {
	margin-top: 5%;
	margin-bottom: 5%;
	display: block;
}

.row-subtitle-howtouse {
	margin-top: 5%;
	margin-bottom: 5%;
	display: block;
}

.row-video-howtouse {
	margin-top: 5%;
	margin-bottom: 5%;
	display: block;
}

