/* título da página */
.title-utilizarsite {
    color: rgb(237, 125, 49);
    margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: GlacialIndifference;
    font-size: 16pt;
}
/* subtítulo da página */
.subtitle-utilizarsite {
    color: rgb(64, 64, 64);
    margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: GlacialIndifference;
    font-size: 12pt;
}

.topic-utilizarsite {
    color: rgb(237, 125, 49);
    margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: GlacialIndifference;
    font-size: 16pt;
}