/* Caminho atual sem mudar de cor */
.path-actual {
  font-family: GlacialIndifference;
  color: rgb(118,113,113);
  margin-top: 0px;
  margin-bottom: 35px;
  display: inline-block;
  text-transform: lowercase;
  font-size: 10pt;
  margin-left: 2px;
  margin-right: 2px;
  text-decoration: none;
}

/* Deixa maiústula a primeira letra de cada palavra no caminho atual */
.path-actual:first-letter {
  text-transform: uppercase;
}

/* Estilo bloco de pesquisa */
.search-box{
  margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: GlacialIndifference;
}

/* Estilo bloco de pesquisa dentro do form */
#search-contrate{
  display: inline-block;
  border-color: rgb(118,113,113);
  border-radius: 0.15cm 0.15cm 0.15cm 0.15cm;
  border-style: solid solid solid solid;
  border-width: 0.5pt;
  width: 50%;
  padding: 0.8%;
  position: relative;
}

/* Estilo botão de pesquisa */
#search-button-contrate{
  text-align: center;
  border-radius: 0.15cm;
  border-width: 0.5pt;
  border-style: solid;
  border-color: rgb(237,125,49);
  font-size: 12pt;
  background: rgb(237,125,49);
  font-family: GlacialIndifference;
  color: rgb(255,255,255);
  width: 10%;
  padding: 0.8%;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 1.5%;
  transition: 0.3s;
}

#search-button-contrate:hover {
  background: rgb(255,255,255);
  color: rgb(237,125,49);
  transition: 0.3s;
}

/* Estilo caixa de pesquisa */
#search-input-contrate{
  border-style: none;
  width: 93%;
  font-family: GlacialIndifference;
  margin-left: 3%
}

#search-input-contrate:focus{
  outline-style: none;
}

/* Estilo bloco com nome das páginas */
.search-tabs{
  font-family: GlacialIndifference;
  text-align: center;
  margin-top: 30px;
	font-size: 12pt;
	color: rgb(64,64,64);
}

/* Estilo do texto com nome das páginas */
.search-tabs label{
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 10px;
  border-bottom: solid rgb(175,171,171);
}

/* Estilo da borda de baixo do nome das páginas */
#contrate-category-label{
  border-color: rgb(237,125,49);
}
#contrate-service-label{
  border-color: rgb(175,171,171);
}
#contrate-job-label{
  border-color: rgb(175,171,171);
}

/* Estilo do bloco das categorias */
.category-buttons{
	width: 85%;
	margin-left: auto;
	margin-right: auto;
}

/* Estilo do botão de categoria */
.category-button{
	width: 100%;
	height: 112px;
	margin-top: 7%;
	border-style: none;
	position: relative;
	background-size: cover;
	color: rgb(175, 171, 171);
	font-family: GlacialIndifference;
	font-size: 24pt;
  box-shadow: 0px 0px 5pt rgba(118, 113, 113, 0.6);
  background-color: white;
  transition: 0.3s;
}

.category-button:focus{
	outline: none;
}

/* Estilo do botão de categoria quando o mouse passa por cima */
.category-button:hover{
	color: rgb(233, 125, 49);
  transition: 0.3s;
  transform: scale(1.05);
}

/* Estilo da imagem dentro do botão da categoria */
.category-button-image{
	position: absolute;
	top: 0;
	left: 0;
}

#tecnology-button{
	background-image: url('../assets/Imagens Site/Tecnologia.png');
}

#maintenance-button{
	background-image: url('../assets/Imagens Site/Manutenção.png');
}

#beauty-button{
	background-image: url('../assets/Imagens Site/Beleza.png');
}

#teaching-button{
	background-image: url('../assets/Imagens Site/Ensino.png');
}

#health-button{
	background-image: url('../assets/Imagens Site/Saúde.png');
}

#event-button{
	background-image: url('../assets/Imagens Site/Eventos.png');
}

#residencial-button{
	background-image: url('../assets/Imagens Site/Residencial.png');
}

#others-button{
	background-image: url('../assets/Imagens Site/Manutenção.png');
}

#tecnology-button:hover{
	background-image: url('../assets/Imagens Site/TecnologiaLaranja.png');
}

#maintenance-button:hover{
	background-image: url('../assets/Imagens Site/ManutençãoLaranja.png');
}

#beauty-button:hover{
	background-image: url('../assets/Imagens Site/BelezaLaranja.png');
}

#teaching-button:hover{
	background-image: url('../assets/Imagens Site/EnsinoLaranja.png');
}

#health-button:hover{
	background-image: url('../assets/Imagens Site/SaúdeLaranja.png');
}

#event-button:hover{
	background-image: url('../assets/Imagens Site/EventosLaranja.png');
}

#residencial-button:hover{
	background-image: url('../assets/Imagens Site/ResidencialLaranja.png');
}

#others-button:hover{
	background-image: url('../assets/Imagens Site/ManutençãoLaranja.png');
}