/* Estilo bloco de contato */
.form-contact {
  border: none;
  box-shadow: 0px 0px 5pt rgba(191, 191, 191, 0.6);
  border-top-left-radius: 0.65cm;
  border-bottom-left-radius: 0.65cm;
  border-top-right-radius: 0.65cm;
  border-bottom-right-radius: 0.65cm;
  margin: 5px;
  padding-top: 10px;
  padding-bottom: 5px;
}

/* Titulo contato */
.form-contact h3 {
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  margin-top: 1cm;
  letter-spacing: 6px;
  font-size: 16pt;
  color: rgb(237, 125, 49);
}

/* Estilo do texto de descrição do formulário */
.description {
  text-align: center;
  letter-spacing: 1px;
  font-size: 12pt;
  font-family: "GlacialIndifference"
}

/* Estilo dos labels dos campos */
.label {
  font-size: 12pt;
  font-family: "GlacialIndifference";
  font-weight: normal;
  margin-left: 5%;
  margin-bottom: 2px;
}

/* Estilo dos campos de input do formulário */
.form-contact input {
  border-radius: 0.15cm;
  border-style: solid;
  border-color: rgb(118, 113, 113);
  border-width: 0.5pt;
  padding-left: 15px;
  font-size: 10pt;
  color: rgb(118,113,113);
  margin-left: auto;
  margin-right: auto;
  width: 93%;
  font-family: GlacialIndifference;
  height: 0.9cm;
}

/* Estilo do textarea onde vai a mensagem de contato */
.textarea-contact {
  border-radius: 0.15cm;
  border-style: solid;
  border-color: rgb(118, 113, 113);
  border-width: 0.5pt;
  margin-left: auto;
  margin-right: auto;
  width: 93%;
  font-family: GlacialIndifference;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  color: rgb(118,113,113);
  font-size: 10pt;
}

/* Estilo do placeholder para todos os navegadores */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(175,171,171);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgb(175,171,171);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgb(175,171,171);
}

/* Estilo de quando campos de entrada são selecionados para escrever */
.form-contact input:focus,
.textarea-contact:focus {
  outline: none;
  border-color: rgb(237, 125, 49);
  box-shadow: 0px 0px 5pt rgba(237, 125, 49, 0.6);
}

#SubjectDropdown input{
  border: 0.5pt solid rgb(118, 113, 113);
}

#SubjectDropdown input:focus{
  border-color: rgb(237, 125, 49);
}

/* Estilo do botão enviar */
.btn-primary {
  text-align: center;
  border-radius: 0.15cm;
  border-width: 0.5pt;
  border-style: solid;
  border-color: rgb(237,125,49);
  font-size: 10pt;
  background: rgb(237,125,49);
  font-family: GlacialIndifference;
  color: rgb(255,255,255);
  margin-top: 0.2cm;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5cm;
  width: 20%;
  padding: 0.8%;
  display:block;
  font-weight: bold;
}

/* Estilo do botão enviar quando passa o mouse por cima */
.btn-primary:hover {
  background: #ffffff;
  color: rgb(237, 125, 49);
  outline: none;
  border-color: rgb(237, 125, 49);
  box-shadow: 0px 0px 5pt rgba(237, 125, 49, 0.6);
}

.btn-primary:disabled {
  background: #ffffff;
  color: rgb(237, 125, 49);
  outline: none;
  border-color: rgb(237, 125, 49);
  box-shadow: 0px 0px 5pt rgba(237, 125, 49, 0.6);
}

.btn-primary:focus {
  background: #ffffff;
  color: rgb(237, 125, 49);
  outline: none;
  border-color: rgb(237, 125, 49);
  box-shadow: 0px 0px 5pt rgba(237, 125, 49, 0.6);
}

/* Formatação título no swal */
.swal-title--contact {
  padding-top: 10px;
  margin-top: 2%;
  margin-bottom: 0px;
  font-size: 18px;
  font-family: GlacialIndifference;
  color: rgb(237, 125, 49);
}

/* Formatação textos no swal */
.swal-text--contact {
  font-family: GlacialIndifference;
  padding: 0px;
  margin-top: 1%;
  display: block;
  margin-bottom: 2px !important;
  text-align: center;
  color: rgb(64, 64, 64);
  font-size: 12pt;
  margin-right: auto;
  margin-left: auto;
}

/*Configurações gerais do swal*/
.swal-dimensions--contact {
  height: 255px !important;
  width:  500px !important;
  border-radius: 20px
}

 /* Formatação footer no swal */
 .swal-footer--footer {
  text-align: center;
  overflow: hidden;
  margin-top: 0px;
  padding-top: 5px;
  padding-bottom: 10px;
}

 /* ícone de erro no swal */
#erroricon{
  position: absolute;
  text-align: left;
  margin-top: -3px;
  margin-left: -5px;
  color: rgb(237, 125, 49);
  transform: scale(1.4);
  transition: 0.3s;  
}