.form-contact {
  border: none;
  box-shadow: 0px 0px 5pt rgba(191, 191, 191, 0.6);
  border-top-left-radius: 0.65cm;
  border-bottom-left-radius: 0.65cm;
  border-top-right-radius: 0.65cm;
  border-bottom-right-radius: 0.65cm;
  padding-bottom: 0.5cm;
  margin-bottom: 0.5cm;
  margin-left: 3%;
}

.form-contact h3 {
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  margin-top: 0.5cm;
  letter-spacing: 6px;
  color: rgb(237, 125, 49);
}

.description {
  text-align: center;
  letter-spacing: 1px;
  font-size: 12pt;
  font-family: "GlacialIndifference"
}

.label {
  font-size: 12pt;
  font-family: "GlacialIndifference";
  font-weight: normal;
  margin-left: 7%;
}

.textarea-contact {
  margin-left: auto;
  margin-right: auto;
  width: 93%;
}

.btn-primary {
  text-align: center;
  border-radius: 0.15cm;
  border-width: 0.5pt;
  border-style: solid;
  border-color: rgb(237,125,49);
  font-size: 12pt;
  background: rgb(237,125,49);
  font-family: GlacialIndifference;
  color: rgb(255,255,255);
  margin-top: 0.2cm;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5cm;
  width: 20%;
  padding: 0.8%;
  display:block;
  font-weight: bold;
}

.btn-primary:hover {
  background: #ffffff;
  color: rgb(237, 125, 49);
  outline: none;
  border-color: rgb(237, 125, 49);
  box-shadow: 0px 0px 5pt rgba(237, 125, 49, 0.6);
}
