.container-fluid {
  margin: auto;
  width: 75%;
}

footer {
  background-color: #383838;
  padding: 3rem 2rem 2rem;
}
footer img {
  height: 80px;
  margin: auto;
  display: block;
  margin-bottom: 1rem;
}
footer p,
footer a,
.socket a {
  color: white;
  text-decoration: none;
  display: block;
  text-align: center;
}
ul.social {
  list-style-type: none;
  display: flex;
  max-width: 16rem;
  margin: 0 auto;
  padding: 0;
}

ul.social li {
  margin: 0 auto;
}

footer a {
  font-size: 2.3rem;
}
.socket {
  background-color: #222222;
  border-top: .1rem solid white;
}
