@media only screen and (min-width: 1200px){
  .footer-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px){
  .footer-container {
    margin: auto;
    max-width: 960px;
  }
}

footer {
  background-color: rgb(237, 125, 49);
}

footer hr {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-top-color: rgba(255,255,255,1);
}

ul.social {
  list-style-type: none;
  display: flex;
  max-width: 16rem;
  /* margin: 0 auto;
  padding: 0; */
}

ul.social li {
  margin: 0 5px;
}

.row-size {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.footer-title {
  color: white;
  margin-bottom: 20px;
  font-family: GlacialIndifference;
  font-size: 12pt;
  margin-top: 20px;
}

.footer-title-2 {
  color: white;
  margin-bottom: 15px;
  font-family: GlacialIndifference;
  font-size: 12pt;
  margin-top: 20px;
}

.footer-content {
  color: white;
  font-family: GlacialIndifference;
  font-size: 10pt;
  margin-bottom: 15px;
}

.socket {
  color: white;
  font-size: 8pt;
  font-family: GlacialIndifference;
}

.socket a {
  text-decoration: underline;
  color: white !important;
}
