.homephrase{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: "GlacialIndifference";
	
}
.h1-home{
	font-size: 24pt;
	color: rgb(64,64,64);
}
.h2-home{
	font-size: 11pt;
	letter-spacing: 4px;
	color: rgb(118,113,113);
}