@media only screen and (min-width: 1200px){
		#button1-search-home{
		width: 44%;
	}
	#button2-search-home{
		width: 10%;
	}
	#search-lupe{
		top: 33%;
	}
	#claudia{
		max-width: 500px;
		margin-top: 20px;
    margin-left: 20%;
	}
	.total-counter{
		margin-top: 60px;
	}
}

@media only screen and (max-width: 1200px) and (min-width: 992px){
	#button1-search-home{
		width: 44%;
	}
	#button2-search-home{
		width: 10%;
	}
	#search-lupe{
		top: 33%;
	}
	#claudia{
		max-width: 400px;
		margin-top: 20px;
    margin-left: 20%;
	}
	.total-counter{
		margin-top: 60px;
	}
  .carrossel{
		display: none;
	}
}

@media only screen and (max-width: 992px) and (min-width: 768px){
  #button1-search-home{
		width: 44%;
	}
	#button2-search-home{
		width: 10%;
	}
	#search-lupe{
		top: 31%;
	}
	#claudia{
		max-width: 300px;
		margin-top: 20px;
    margin-left: 20%;
	}
	.orange-button-register-home{
		margin-left: auto;
		margin-right: auto;
	}
	#mouse-pointer{
		display:none;
	}
	.carrossel{
		display: none;
	}
	.total-counter{
		margin-top: 10px;
	}
}

@media only screen and (max-width: 768px) and (min-width: 576px){
  #button1-search-home{
		width: 44%;
	}
	#button2-search-home{
		width: 100px;
	}
	#search-lupe{
		top: 28%;
	}
	#claudia{
		max-width: 300px;
		margin-top: 20px;
	}
	.orange-button-register-home{
		margin-left: auto;
		margin-right: auto;
	}
	#mouse-pointer{
		display:none;
	}
	.carrossel{
		display: none;
	}
	.total-counter{
		margin-top: 10px;
	}
}

@media only screen and (max-width: 576px) {
	#button1-search-home{
		width: 230px;
    padding-left: 10px !important;
	}
	#button2-search-home{
		width: 85px;
	}
	#search-lupe{
		top: 25%;
	}
	#claudia{
		max-width: 300px;
		margin-top: 20px;
	}
	.orange-button-register-home{
		margin-left: auto;
		margin-right: auto;
	}
	#mouse-pointer{
		display:none;
	}
	.carrossel{
		display: none;
	}
	.total-counter{
		margin-top: 10px;
	}
}

/* @media only screen and (max-width: 1199px) and (min-width: 992px){
  #button2-search-home{

	}
} */

.claudia-flex{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 15px;
}

.claudia-text-flex{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.claudia-image-flex{
	display: flex;
	justify-content: center;
}

.homephrase{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: GlacialIndifference;
}

.h1-home{
	font-size: 24pt;
	color: rgb(64,64,64);
}

.h2-home{
	font-size: 11pt;
	letter-spacing: 4px;
	color: rgb(118,113,113);
}

#button1-search-home{
  text-align: left;
  border-radius: 0.15cm;
  border-width: 0.5pt;
  border-style: solid;
  border-color: rgb(118,113,113);
  font-size: 12pt;
  background: rgb(255,255,255);
  font-family: GlacialIndifference;
  color: rgb(175,171,171);
  padding: 0.8%;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 1.5%;
  position: relative;
}

#search-lupe {
  position: absolute;
	right: 3%;
  color: rgb(175,171,171);
}

#button2-search-home{
  text-align: center;
  border-radius: 0.15cm;
  border-width: 0.5pt;
  border-style: solid;
  border-color: rgb(237,125,49);
  font-size: 12pt;
  background: rgb(237,125,49);
  font-family: GlacialIndifference;
  color: rgb(255,255,255);
  padding: 0.8%;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 1.5%;
  transition: 0.3s;
}

#button2-search-home:hover {
  background: rgb(255,255,255);
  color: rgb(237,125,49);
  transition: 0.3s;
}

.total-counter {
  text-align: center;
  font-family: GlacialIndifference;
  font-size: 20pt;
	color: rgb(64,64,64);
  margin-bottom: 10px;
}

.carousel-title {
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  font-size: 17pt;
  color: rgb(64, 64, 64);
  letter-spacing: 3.5px;
  margin-bottom: 5px;
}

/* Espaço onde ficam todos os cards de destaque */
.row-all-cards {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
  font-family: GlacialIndifference;
  position: relative;
  padding-top: 8px;
  padding-bottom: 8px;
}

/* Centraliza todos textos dentro dos cartões */
.row-all-cards p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 140px;
}

/* Centraliza todas imagens dentro dos cards */
.row-all-cards img {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 120px;
}

/* Espaço de cada card de destaque */
.column-each-card {
	display: inline-block;
  border: none;
	margin-left: 0.7%;
	margin-right: 0.7%;
	box-shadow: 0px 0px 5pt rgba(191, 191, 191, 0.6);
	border-top-left-radius: 0.3cm;
	border-bottom-left-radius: 0.3cm;
	border-top-right-radius: 0.3cm;
	border-bottom-right-radius: 0.3cm;
	width: 160px;
  text-decoration: none;
  margin-top: 5px;
}

/* Espaço onde fica a profissão no card */
.row-card-work {
  display: block;
  height: 52px;
  position: relative;
  font-size: 12pt;
  color: rgb(237,125,49);
}

/* Espaço onde fica a foto no card */
.row-card-picture {
  display: block;
  height: 140px;
  position: relative;
}

/* Espaço onde fica o nome no card */
.row-card-name {
  display: block;
  height: 30px;
  position: relative;
  font-size: 11pt;
  color: rgb(64,64,64);
  margin-bottom: 10px;
}

/* Espaço de cada card */
.each-card-hr {
	text-align: center;
	border-top-color: rgb(231,230,230);
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 13%;
  margin-right: 13%;
}

/* Define o conjunto que representa um link */
#cards-change-color-on-hover {
  text-decoration: none;
}

/* Padroniza a cor de todo o conjunto que representa um link */
#cards-change-color-on-hover a {
  text-decoration: none;
  color: rgb(64,64,64);
  transition: 0.3s;
}

/* Muda a cor de todo o conjunto que representa um link */
#cards-change-color-on-hover a:hover {
  color: rgb(237,125,49);
  box-shadow: 0px 0px 5pt rgba(237, 125, 49, 0.6);
  transition: 0.3s;
  transform: scale(1.05);
}

#text-claudia{
	margin-left: 105px;
	margin-top: 72px;
}

#text-h3-home{
	font-family: GlacialIndifference;
	font-size: 18pt;
	display: flex;
}

#text-h4-home{
	font-family: GlacialIndifference;
	font-size: 12pt;
	color: rgb(118,113,113);
}

#button3-register-home {
  text-align: center;
  border-radius: 0.15cm;
  border-width: 0.5pt;
  border-style: solid;
  border-color: rgb(237,125,49);
  font-size: 12pt;
  background: rgb(237,125,49);
  font-family: GlacialIndifference;
  color: rgb(255,255,255);
  width: 100%;
  padding: 0.8%;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 5px;
	position: relative;
  transition: 0.3s;
}

#button3-register-home:hover {
  background: rgb(255,255,255);
  color: rgb(237,125,49);
  transition: 0.3s;
}

#mouse-pointer {
  color: rgb(64,64,64);
  position: absolute;
	right: -20px;
	bottom: -30px;
  transition: 0.3s;
}

#button3-register-home:hover #mouse-pointer {
	color: rgb(237,125,49);
  position: absolute;
	right: -4px;
	bottom: -10px;
  transition: 0.3s;
  transform: scale(1.3);
}

.emphasize-picture-profissões {
  object-fit: cover;
  border-radius: 50%;
}
