.header{
  background-color: #ED7D31;
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: 1;
}

@media only screen and (min-width: 1200px){
  .header-container {
    margin: auto;
    max-width: 1200px;
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px){
  .header-container {
    margin: auto;
    max-width: 992px;
  }
}

.header-container{
  padding-top: 10px;
  padding-bottom: 10px;
}

.brand-logo{
  display: inline-block;
  width: 20%;
}

.menu-items{
  display: inline-block;
  font-family: 'Bebas Neue', cursive;
  width: 60%;
  text-align: center;
}

.header-container a{
  color: white;
  padding: 0px 24px;
  font-size: 12pt;
}

.right-buttons-navbar{
  display:inline-block;
  width: 20%;
  text-align: center;
}

.buttons-navbar{
  display: inherit;
  margin-left: 5%;
  margin-right: 5%;
}

#help-navbar{
  border-radius: 50%;
  border-style: none;
  background-color: white;
  color: rgb(237, 125, 49);
  font-size: 14pt;
}

#entrar-navbar{
  border-radius: 0.15cm;
  border-style: none;
  background-color: white;
  color: rgb(237, 125, 49);
  font-size: 14pt;
  font-family: GlacialIndifference;
  letter-spacing: 1pt;
}