.header{
  background-color: #ED7D31;
  top: 0px;
  width: 100%;
  z-index: 100;
}

.bg-nav {
    background-color: #ED7D31;
}

.navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,.1);
}

.nav-link{
  font-family: 'Bebas Neue', cursive;
}

@media only screen and (min-width: 1200px){
  .header-container {
    margin: auto;
    padding-top: 10px;
    max-width: 1200px;
  }

  .header-container a{
    padding: 0px 24px;
  }

  .nav-item {
    margin-left: 1.5%;
    margin-right: 1.5%;
  }

  .navbar-nav {
    text-align: center !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 100% !important;
  }

  .brand-logo img {
    width: 250px;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 992px){
  .header-container {
    margin: auto;
    max-width: 992px;
  }

  .nav-item {
    margin-left: 1%;
    margin-right: 1%;
  }

  .navbar-nav {
    text-align: center !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 95% !important;
  }

  .brand-logo img {
    width: 200px;
  }
}

@media only screen and (max-width: 992px) and (min-width: 768px){
  .header-container {
    margin: auto;
    max-width: 992px;
  }

  .nav-item {
    text-align: right;
  }

  .brand-logo img {
    width: 300px;
  }
}

@media only screen and (max-width: 768px) and (min-width: 576px){
  .header-container {
    margin: auto;
    max-width: 992px;
  }

  .nav-item {
    text-align: right;
  }

  .brand-logo img {
    width: 250px;
  }
}

@media only screen and (max-width: 576px){
  .header-container{
    margin: auto;
    padding-top: 0px;
    max-width: 576px;
  }

  .header-container a{
    padding: 0px;
  }

  .nav-item {
    text-align: right;
  }

  .brand-logo img {
    width: 200px;
    margin-bottom: 5%;
    margin-top: -2.5%;
  }
}

.header-container{
  padding-top: 10px;
  padding-bottom: 0px;
}

.brand-logo{
  display: inline-block;
}

.brand-logo a {
  text-decoration: none;
}

.header-container a{
  color: white;
  font-size: 13pt;
  margin-top: 10px;
  letter-spacing: 1px;
}

.right-buttons-navbar{
  display:none;
  width: 20%;
  text-align: center;
}

.buttons-navbar{
  display: inherit;
  margin-left: 5%;
  margin-right: 5%;
}

#help-navbar{
  border-radius: 50%;
  border-style: none;
  background-color: white;
  color: rgb(237, 125, 49);
  font-size: 14pt;
}

#entrar-navbar{
  border-radius: 0.15cm;
  border-style: none;
  background-color: white;
  color: rgb(237, 125, 49);
  font-size: 14pt;
  font-family: GlacialIndifference;
  letter-spacing: 1pt;
}