/* Bloco da caixa que fica no fundo */
.row-information-center {
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 5pt rgba(191, 191, 191, 0.6);
  border-top-left-radius: 0.65cm;
  border-bottom-left-radius: 0.65cm;
  border-top-right-radius: 0.65cm;
  border-bottom-right-radius: 0.65cm;
  width: 22.39cm;
}

 /* Formatação título no swal */
.swal-footer {
  text-align: center;
  overflow: hidden;
  margin-top: 0px;
  padding-top: 5px;
  padding-bottom: 10px;
}

/* Formatação título no swal */
.swal-title--perfil {
  padding-top: 10px;
  margin-bottom: 0px;
  font-size: 18px;
  font-family: GlacialIndifference;
  color: rgb(237, 125, 49);
}

/* Formatação textos no swal */
.swal-text--perfil {
  font-family: GlacialIndifference;
  padding: 0px;
  margin-top: -4px;
  display: block;
  margin-bottom: 2px !important;
  text-align: center;
  color: rgb(64, 64, 64);
  font-size: 12pt;
  margin-right: auto;
  margin-left: auto;
}

/* Formatação Links no swal */
.swal-text--perfil a {
  font-weight: bold;
  text-decoration: underline;
  color: rgb(64, 64, 64);
}

/* Formataçãp Link para contato dentro do swal */
.swal-text--newlink {
  font-family: 'Bebas Neue', cursive !important; 
  text-decoration: underline; 
  font-size: 12pt;
  color: rgb(237, 125, 49) !important;
}

/* Botao do swal */
.swal-button--contact {
  border-radius: 2px;
  background-color:rgb(237, 125, 49);
  font-size: 16px;
  border: 1px solid rgb(237,125,49);
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: GlacialIndifference;
  height: 40px;
  width:  200px;
  line-height: 0%;
}

/*Configurações gerais do swal*/
.swal-modal {
  height: 300px;
  width:  700px;
  border-radius: 20px
}

/* Hover botao do swal */
.swal-button:hover {
  /* border-radius: 0.15cm; */
  border-width: 0.5pt;
  border-style: solid;
  border-color: rgb(237,125,49);
  background-color: rgb(255, 255, 255) !important;
  color: rgb(237, 125, 49);
  outline: none;
  box-shadow: 0px 0px 5pt rgba(237, 125, 49, 0.6);
}

.swal-button img {
  font: bold;
}

/* Coluna com imagem do prestador*/
.column-perfilimage {
	display: inline-block;
	width: 37%;
	margin-top: 2%;
  vertical-align: top;
  text-align: left;
  margin-left: 2%;
}

/* Row com imagem do prestador*/
.row-perfilimage {
  display: block;
  margin-left: 0%;
}

/* Coluna com informações e foto circular do prestador*/
.column-perfilinformation {
	display: inline-block;
	width: 57%;
	margin-left: 4%;
	margin-top: 2%;
}

/* Row com informacoes do prestador*/
.row-main-information-perfil {
  display: block;
}

/* Coluna com foto em circulo do prestador*/
.column-perfilcircleimage {
	display: inline-block;
	width: 20%;
  margin-left: 2%;
}

.row-perfilcircleimage {
  margin-left: 4%;
  display: block;
  top: 10%;
}

.row-perfilcircleimage img{
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  vertical-align: bottom;
}

/* Coluna com nome e botao*/
.column-perfilnameandbutton {
	display: inline-block;
  margin-top: auto;
  margin-bottom: auto;
	width: 70%;
  vertical-align: top;
}

/* Coluna com nome e botao*/
.row-perfilnameandbutton {
	display: block;
  margin-left: 5%;
}

/* Formatação texto a da coluna com com nome e botao*/
.column-perfilnameandbutton a{
	font-family: GlacialIndifference;
  font-size: 16pt;
  text-align: left;
  margin-bottom: -3%;
  color: rgb(64, 64, 64) !important;
  margin-left: 4%;
}

/* Linha cinza*/
.perfil-hr {
  margin-left: 0%;
  margin-right: 0%;
  width: 88%;
  border-top-color: rgb(231,230,230);
  margin-bottom: 3%;
  margin-top: 1%;
}

/* Butão entrar em contato */
.button-entraremcontato{
  text-align: left;
  width: 4.50cm;
  height: 0.8cm;
  border-width: 0.5pt;
  border-style: solid;
  border-color: rgb(237,125,49);
  font-size: 12pt;
  background: rgb(237,125,49);
  font-family: GlacialIndifference;
  color: rgb(255,255,255);
  padding-left: 2%;
  margin-top: 0%;
}

/* Row com profissoes prestador*/
.row-professionperfil {
  display: block;
  margin-top: 5%;
  margin-left: 0px;
}

/* Texto a dentro da Row com profissoes prestador*/
.row-professionperfil p {
  font-family: GlacialIndifference;
  font-size: 12pt;
  text-align: left;
  color: rgb(64, 64, 64) !important;
  margin-bottom: 4%;
  margin-left: 2%;
}

/* Estilo da caixa de descrição */
.perfil-description {
  border: solid 1px rgba(191, 191, 191);
  width: 88%;
  height: 2.83cm;
  margin-bottom: 5%;
}

/* Estilo da texto na caixa de descrição */
.perfil-description-text {
  font-size: 8pt;
  font-family: GlacialIndifference;
  color: rgb(175, 171, 171);
  text-align: left;
  margin: 5px;
}

/*Imagem dentro do botão*/
#buttonimageperfil{
  margin-top: -2%;
  margin-left: 5%;
}

