.title-sobrenos {
    font-size: 24pt;
    color: rgb(237, 125, 49);
    margin-left: auto;
	margin-right: auto;
	text-align: left;
    font-weight: bold;
	font-family: GlacialIndifference;
}
.paragrafo-sobrenos {
    margin-left: auto;
	margin-right: auto;
	text-align: left;
	font-family: GlacialIndifference;
    font-size: 12pt;
    color: rgb(64, 64, 64);
}
.subtitle-sobrenos {
    margin-left: auto;
	margin-right: auto;
	text-align: left;
    font-weight: bold;
	font-family: GlacialIndifference;
    font-size: 14pt;
    color: rgb(237, 125, 49);
    text-decoration-line: underline; 
}
.subs-sobrenos {
    margin-left: auto;
	margin-right: auto;
	text-align: left;
	font-family: GlacialIndifference;
    font-size: 14pt;
    font-weight: bold;
    color: rgb(64, 64, 64);
}