.title-termos {
    color: rgb(237, 125, 49);
    margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: GlacialIndifference;
}
.title-termos h2 {
    font-size: 24pt;
}

.subtitle-termos {
    margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: GlacialIndifference;
    font-size: 14pt;
}
.itens-termos {
    padding-left: 47px;
}
.item-termos {
    width: 4.4%;
}
.text-item-termos{
    width: 95.6%;
}
.paragrafos-termos {
    margin-left: auto;
	margin-right: auto;
    font-family: GlacialIndifference;
    font-size: 12pt;
}
.sub-clausulas-termos {
    font-family: GlacialIndifference;
    padding-left: 90px;
}