/* Caminho atual sem mudar de cor */
.path-actual {
  font-family: GlacialIndifference;
  color: rgb(118,113,113);
  margin-top: 0px;
  margin-bottom: 35px;
  display: inline-block;
  text-transform: lowercase;
  font-size: 10pt;
  margin-left: 2px;
  margin-right: 2px;
  text-decoration: none;
}

/* Deixa maiústula a primeira letra de cada palavra no caminho atual */
.path-actual:first-letter {
  text-transform: uppercase;
}

/* Estilo bloco de pesquisa */
.search-box{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: GlacialIndifference;
}

/* Estilo botão de pesquisa */
#search-button-contrate{
  text-align: center;
  border-radius: 0.15cm;
  border-width: 0.5pt;
  border-style: solid;
  border-color: rgb(237,125,49);
  font-size: 12pt;
  background: rgb(237,125,49);
  font-family: GlacialIndifference;
  color: rgb(255,255,255);
  width: 10%;
  padding: 0.8%;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 1.5%
}

/* Estilo caixa de pesquisa */
#search-input-contrate{
  border-style: none;
  width: 93%;
  font-family: GlacialIndifference;
  margin-left: 3%
}

#search-input-contrate:focus{
  outline-style: none;
}

/* Estilo bloco de pesquisa dentro do form */
#search-contrate{
  display: inline-block;
  border-color: rgb(118,113,113);
  border-radius: 0.15cm 0.15cm 0.15cm 0.15cm;
  border-style: solid solid solid solid;
  border-width: 0.5pt;
  width: 50%;
  padding: 0.8%;
}

/* Estilo bloco com nome das páginas */
.search-tabs{
  font-family: GlacialIndifference;
  text-align: center;
  margin-top: 30px;
	font-size: 12pt;
	color: rgb(64,64,64);
}

/* Estilo do texto com nome das páginas */
.search-tabs label{
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 10px;
  border-bottom: solid rgb(175,171,171);
}

/* Estilo da borda de baixo do nome das páginas */
#trabalhos-category-label{
  border-color: rgb(175,171,171);
}
#trabalhos-service-label{
  border-color: rgb(237,125,49);
}
#trabalhos-job-label{
  border-color: rgb(175,171,171);
}

/* Link na barra de escolha das categorias e serviços */
.link-bar-label {
  color: rgb(64,64,64);
  text-decoration: none;
}

/* Muda a cor dos links da barra de escolha das categorias e serviços */
.link-bar-label:hover {
  cursor: pointer;
  color: rgb(237,125,49);
  text-decoration: none;
}

/* Caminho das páginas */
.path {
  font-family: GlacialIndifference;
  color: rgb(118,113,113);
  margin-top: 0px;
  margin-bottom: 35px;
  display: inline-block;
  text-transform: lowercase;
  font-size: 10pt;
  margin-left: 2px;
  margin-right: 2px;
  text-decoration: none;
}

/* Muda a cor do caminho das páginas */
.path:hover {
  color: rgb(237,125,49);
  text-decoration: none;
}

/* Deixa maiústula a primeira letra de cada palavra no caminho */
.path:first-letter {
  text-transform: uppercase;
}

/* Linha que divide os trabalhos */
.job-hr {
  margin-left: auto;
  margin-right: auto;
  width: 72%;
  border-top-color: rgb(231,230,230);
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Alinha o espaço onde fica o dicionário */
.job-dictionary {
  width: 72%;
  margin-left: auto;
	margin-right: auto;
	text-align: center;
  color: rgb(175,171,171);
  font-size: 12pt;
}

/* Alinha e formata cada letra e barra do dicionário */
.job-dictionary-letter {
  font-family: GlacialIndifference;
  width: 72%;
  margin-left: 20%;
  font-size: 18pt;
  color:rgb(175,171,171);
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Padroniza as letras dos dicionários como links */
.job-dictionary a {
  text-decoration: none;
  width: 72%;
  margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: GlacialIndifference;
  color: rgb(118,113,113);
  font-size: 12pt;
}

/* Troca a cor da letra do dicionário quando passa o mouse em cima */
.job-dictionary a:hover {
  color: rgb(237,125,49);
}

/* Contagem de profissionais em determinado serviço */
.job-workers-count {
  font-family: GlacialIndifference;
  font-size: 10pt;
  margin-bottom: 10px;
  color: rgb(175,171,171);
}

/* Espaço para o ícone de cada serviço */
.job-imagecontainer {
  width: 7%;
  margin-left: 23%;
}

/* Espaço para o texto com título e descrição do serviço */
.job-textcontainer {
  width: 50%;
}

/* Nome do serviço */
.job-name {
  font-family: GlacialIndifference;
  font-size: 12pt;
  margin-bottom: 6px;
  margin-top: 10px;
}

/* Desce a barra suavemente quando clica numa letra do dicionário*/
html {
	scroll-behavior: smooth;
}

/* Aumenta a suavidade que a barra desce quando clica na letra do dicionário*/
@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

/* Define a cor do serviço para cinza antes de passar o mouse */
.job-link a{
  text-decoration: none;
  color: rgb(118,113,113);
}

/* Sublinha título do serviço*/
.job-link a:hover{
  color: rgb(237,125,49);
}

/* Troca o ícone pelo ícone laranja */
.job-link a:hover .job-icon-button-class{
  color: rgb(237,125,49);
  background-image: url('../assets/Ícones/privadalaranja.png');
  outline: none;
}

/* Lugar onde fica o ícone */
.job-icon-button-class {
  width: 70px;
	height: 70px;
	border-style: none;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: white;
  background-image: url('../assets/Ícones/privada.png');
}

.analista-de-sistemas-icon-button-class {
  background-image: url('../assets/Ícones/privada.png');
}

.analista-de-sistemas-icon-button-class:hover{
  background-image: url('../assets/Ícones/privadalaranja.png');
  outline: none;
}

.designer-grafico-icon-button-class {
  background-image: url('../assets/Ícones/privada.png');
}

.designer-grafico-icon-button-class:hover{
  background-image: url('../assets/Ícones/privadalaranja.png');
  outline: none;
}

.editor-de-video-icon-button-class {
  background-image: url('../assets/Ícones/privada.png');
}

.editor-de-video-icon-button-class:hover{
  background-image: url('../assets/Ícones/privadalaranja.png');
  outline: none;
}

.programador-icon-button-class {
  background-image: url('../assets/Ícones/privada.png');
}

.programador-icon-button-class:hover{
  background-image: url('../assets/Ícones/privadalaranja.png');
  outline: none;
}

.tecnico-em-informatica-icon-button-class {
  background-image: url('../assets/Ícones/privada.png');
}

.tecnico-em-informatica-icon-button-class:hover{
  background-image: url('../assets/Ícones/privadalaranja.png');
  outline: none;
}

.eletricista-icon-button-class {
  background-image: url('../assets/Ícones/privada.png');
}

.eletricista-icon-button-class:hover{
  background-image: url('../assets/Ícones/privadalaranja.png');
  outline: none;
}

.encanador-icon-button-class {
  background-image: url('../assets/Ícones/privada.png');
}

.encanador-icon-button-class:hover{
  background-image: url('../assets/Ícones/privadalaranja.png');
  outline: none;
}

.faz-tudo-icon-button-class {
  background-image: url('../assets/Ícones/privada.png');
}

.faz-tudo-icon-button-class:hover{
  background-image: url('../assets/Ícones/privadalaranja.png');
  outline: none;
}

.manutencao-de-pabx-icon-button-class {
  background-image: url('../assets/Ícones/privada.png');
}

.manutencao-de-pabx-icon-button-class:hover{
  background-image: url('../assets/Ícones/privadalaranja.png');
  outline: none;
}

.marceneiro-icon-button-class {
  background-image: url('../assets/Ícones/privada.png');
}

.marceneiro-icon-button-class:hover{
  background-image: url('../assets/Ícones/privadalaranja.png');
  outline: none;
}

.montador-de-moveis-icon-button-class {
  background-image: url('../assets/Ícones/privada.png');
}

.montador-de-moveis-icon-button-class:hover{
  background-image: url('../assets/Ícones/privadalaranja.png');
  outline: none;
}

.pintor-icon-button-class {
  background-image: url('../assets/Ícones/privada.png');
}

.pintor-icon-button-class:hover{
  background-image: url('../assets/Ícones/privadalaranja.png');
  outline: none;
}

.tecnico-em-informatica-icon-button-class {
  background-image: url('../assets/Ícones/privada.png');
}

.tecnico-em-informatica-icon-button-class:hover{
  background-image: url('../assets/Ícones/privadalaranja.png');
  outline: none;
}

.barbeiro-icon-button-class {
  background-image: url('../assets/Ícones/privada.png');
}

.barbeiro-icon-button-class:hover{
  background-image: url('../assets/Ícones/privadalaranja.png');
  outline: none;
}

.cabeleireiro-icon-button-class {
  background-image: url('../assets/Ícones/privada.png');
}

.cabeleireiro-icon-button-class:hover{
  background-image: url('../assets/Ícones/privadalaranja.png');
  outline: none;
}

.maquiador-icon-button-class {
  background-image: url('../assets/Ícones/privada.png');
}

.maquiador-icon-button-class:hover{
  background-image: url('../assets/Ícones/privadalaranja.png');
  outline: none;
}

.micropigmentador-icon-button-class {
  background-image: url('../assets/Ícones/privada.png');
}

.micropigmentador-icon-button-class:hover{
  background-image: url('../assets/Ícones/privadalaranja.png');
  outline: none;
}

.coach-icon-button-class {
  background-image: url('../assets/Ícones/privada.png');
}

.coach-icon-button-class:hover{
  background-image: url('../assets/Ícones/privadalaranja.png');
  outline: none;
}

.consultor-de-marketing-digital-icon-button-class {
  background-image: url('../assets/Ícones/privada.png');
}

.consultor-de-marketing-digital-icon-button-class:hover{
  background-image: url('../assets/Ícones/privadalaranja.png');
  outline: none;
}

.professor-de-programação-icon-button-class {
  background-image: url('../assets/Ícones/privada.png');
}

.professor-de-programação-icon-button-class:hover{
  background-image: url('../assets/Ícones/privadalaranja.png');
  outline: none;
}

.professor-de-ingles-icon-button-class {
  background-image: url('../assets/Ícones/privada.png');
}

.professor-de-ingles-icon-button-class:hover{
  background-image: url('../assets/Ícones/privadalaranja.png');
  outline: none;
}

.professor-de-frances-icon-button-class {
  background-image: url('../assets/Ícones/privada.png');
}

.professor-de-frances-icon-button-class:hover{
  background-image: url('../assets/Ícones/privadalaranja.png');
  outline: none;
}

.tradutor-icon-button-class {
  background-image: url('../assets/Ícones/privada.png');
}

.tradutor-icon-button-class:hover{
  background-image: url('../assets/Ícones/privadalaranja.png');
  outline: none;
}

.fisioterapeuta-icon-button-class {
  background-image: url('../assets/Ícones/privada.png');
}

.fisioterapeuta-icon-button-class:hover{
  background-image: url('../assets/Ícones/privadalaranja.png');
  outline: none;
}

.personal-trainer-icon-button-class {
  background-image: url('../assets/Ícones/privada.png');
}

.personal-trainer-icon-button-class:hover{
  background-image: url('../assets/Ícones/privadalaranja.png');
  outline: none;
}

.psicologo-icon-button-class {
  background-image: url('../assets/Ícones/privada.png');
}

.psicologo-icon-button-class:hover{
  background-image: url('../assets/Ícones/privadalaranja.png');
  outline: none;
}

.terapeuta-ocupacional-icon-button-class {
  background-image: url('../assets/Ícones/privada.png');
}

.terapeuta-ocupacional-icon-button-class:hover{
  background-image: url('../assets/Ícones/privadalaranja.png');
  outline: none;
}

.animador-icon-button-class {
  background-image: url('../assets/Ícones/privada.png');
}

.animador-icon-button-class:hover{
  background-image: url('../assets/Ícones/privadalaranja.png');
  outline: none;
}

.bartender-icon-button-class {
  background-image: url('../assets/Ícones/privada.png');
}

.bartender-icon-button-class:hover{
  background-image: url('../assets/Ícones/privadalaranja.png');
  outline: none;
}

.fotografo-icon-button-class {
  background-image: url('../assets/Ícones/privada.png');
}

.fotografo-icon-button-class:hover{
  background-image: url('../assets/Ícones/privadalaranja.png');
  outline: none;
}

.garcom-icon-button-class {
  background-image: url('../assets/Ícones/privada.png');
}

.garcom-icon-button-class:hover{
  background-image: url('../assets/Ícones/privadalaranja.png');
  outline: none;
}

.promotor-de-eventos-icon-button-class {
  background-image: url('../assets/Ícones/privada.png');
}

.promotor-de-eventos-icon-button-class:hover{
  background-image: url('../assets/Ícones/privadalaranja.png');
  outline: none;
}

.recepcionista-icon-button-class {
  background-image: url('../assets/Ícones/privada.png');
}

.recepcionista-icon-button-class:hover{
  background-image: url('../assets/Ícones/privadalaranja.png');
  outline: none;
}

.diarista-icon-button-class {
  background-image: url('../assets/Ícones/privada.png');
}

.diarista-icon-button-class:hover{
  background-image: url('../assets/Ícones/privadalaranja.png');
  outline: none;
}

.jardineiro-icon-button-class {
  background-image: url('../assets/Ícones/privada.png');
}

.jardineiro-icon-button-class:hover{
  background-image: url('../assets/Ícones/privadalaranja.png');
  outline: none;
}

.artesao-icon-button-class {
  background-image: url('../assets/Ícones/privada.png');
}

.artesao-icon-button-class:hover{
  background-image: url('../assets/Ícones/privadalaranja.png');
  outline: none;
}

.desenhista-icon-button-class {
  background-image: url('../assets/Ícones/privada.png');
}

.desenhista-icon-button-class:hover{
  background-image: url('../assets/Ícones/privadalaranja.png');
  outline: none;
}

.frete-icon-button-class {
  background-image: url('../assets/Ícones/privada.png');
}

.frete-icon-button-class:hover{
  background-image: url('../assets/Ícones/privadalaranja.png');
  outline: none;
}

.impressao-icon-button-class {
  background-image: url('../assets/Ícones/privada.png');
}

.impressao-icon-button-class:hover{
  background-image: url('../assets/Ícones/privadalaranja.png');
  outline: none;
}

.motorista-icon-button-class {
  background-image: url('../assets/Ícones/privada.png');
}

.motorista-icon-button-class:hover{
  background-image: url('../assets/Ícones/privadalaranja.png');
  outline: none;
}

.passeador-de-caes-icon-button-class {
  background-image: url('../assets/Ícones/privada.png');
}

.passeador-de-caes-icon-button-class:hover{
  background-image: url('../assets/Ícones/privadalaranja.png');
  outline: none;
}