.search-box{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: GlacialIndifference;
}

#search-button-contrate{
  text-align: center;
  border-radius: 0.15cm;
  border-width: 0.5pt;
  border-style: solid;
  border-color: rgb(237,125,49);
  font-size: 12pt;
  background: rgb(237,125,49);
  font-family: GlacialIndifference;
  color: rgb(255,255,255);
  width: 10%;
  padding: 0.8%;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 1.5%
}

#search-input-contrate{
  border-style: none;
  width: 93%;
  font-family: GlacialIndifference;
  margin-left: 3%
}

#search-input-contrate:focus{
  outline-style: none;
}

#search-contrate{
  display: inline-block;
  border-color: rgb(118,113,113);
  border-radius: 0.15cm 0.15cm 0.15cm 0.15cm;
  border-style: solid solid solid solid;
  border-width: 0.5pt;
  width: 50%;
  padding: 0.8%;
}

.search-tabs{
  font-family: GlacialIndifference;
  text-align: center;
  margin-top: 30px;
	font-size: 12pt;
	color: rgb(64,64,64);
}

.search-tabs label{
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 10px;
  border-bottom: solid rgb(175,171,171);
}

#trabalhos-category-label{
  border-color: rgb(175,171,171);
}
#trabalhos-service-label{
  border-color: rgb(237,125,49);
}
#trabalhos-job-label{
  border-color: rgb(175,171,171);
}

.path {
  font-family: GlacialIndifference;
  color: rgb(118,113,113);
  margin-top: 0px;
  margin-bottom: 35px;
  display: inline-block;
  text-transform: lowercase;
  font-size: 10pt;
  margin-left: 2px;
  margin-right: 2px;
  text-decoration: none;
}

.path:first-letter {
  text-transform: uppercase;
}

.path:hover {
  color: rgb(237,125,49);
  text-decoration: none;
}

.job-hr {
  margin-left: auto;
  margin-right: auto;
  width: 72%;
  border-top-color: rgb(231,230,230);
  margin-top: 0px;
  margin-bottom: 0px;
}

.dictionary {
  width: 72%;
  margin-left: auto;
	margin-right: auto;
	text-align: center;
  color: rgb(175,171,171);
  font-size: 12pt;
}

.dictionary-letter {
  font-family: GlacialIndifference;
  width: 72%;
  margin-left: 20%;
  font-size: 18pt;
  color:rgb(175,171,171);
  margin-top: 0px;
  margin-bottom: 0px;
}

.dictionary a {
  text-decoration: none;
  width: 72%;
  margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: GlacialIndifference;
  color: rgb(118,113,113);
  font-size: 12pt;
}

.dictionary a:hover {
  color: rgb(237,125,49);
}

.job-icon {
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

.job-name {
  font-family: GlacialIndifference;
  font-size: 12pt;
  color: rgb(64,64,64);
  margin-bottom: 6px;
  margin-top: 10px;
}

.job-name:hover {
  color: rgb(237,125,49);
  text-decoration: none;
}

.workers-count {
  font-family: GlacialIndifference;
  font-size: 10pt;
  color: rgb(118,113,113);
  margin-bottom: 10px;
}

.imagecontainer {
  width: 7%;
  margin-left: 23%;
}

.textcontainer{
  width: 50%;
}

/* smooth scroll link anchor*/
html {
	scroll-behavior: smooth;
}

/* smooth scroll link anchor - reduced motion*/
@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}