.search-box{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: GlacialIndifference;
}

#search-button-contrate{
  text-align: center;
  border-radius: 0.15cm;
  border-width: 0.5pt;
  border-style: solid;
  border-color: rgb(237,125,49);
  font-size: 12pt;
  background: rgb(237,125,49);
  font-family: GlacialIndifference;
  color: rgb(255,255,255);
  width: 10%;
  padding: 0.8%;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 1.5%
}

#search-input-contrate{
  border-style: none;
  width: 93%;
  font-family: GlacialIndifference;
  margin-left: 3%
}

#search-input-contrate:focus{
  outline-style: none;
}

#search-contrate{
  display: inline-block;
  border-color: rgb(118,113,113);
  border-radius: 0.15cm 0.15cm 0.15cm 0.15cm;
  border-style: solid solid solid solid;
  border-width: 0.5pt;
  width: 50%;
  padding: 0.8%;
}

.search-tabs{
  font-family: GlacialIndifference;
  text-align: center;
  margin-top: 30px;
	font-size: 12pt;
	color: rgb(64,64,64);
}

.search-tabs label{
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 10px;
  border-bottom: solid rgb(175,171,171);
}

#trabalhos-category-label{
  border-color: rgb(175,171,171);
}
#trabalhos-service-label{
  border-color: rgb(237,125,49);
}
#trabalhos-job-label{
  border-color: rgb(175,171,171);
}

.path {
  font-family: GlacialIndifference;
  color: rgb(118,113,113);
  margin-top: 0px;
  margin-bottom: 35px;
  display: inline-block;
  text-transform: lowercase;
  font-size: 10pt;
  margin-left: 2px;
  margin-right: 2px;
  text-decoration: none;
}

.path:first-letter {
  text-transform: uppercase;
}

.path:hover {
  color: rgb(237,125,49);
  text-decoration: none;
}

/* Linha que divide os trabalhos */
.job-hr {
  margin-left: auto;
  margin-right: auto;
  width: 72%;
  border-top-color: rgb(231,230,230);
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Alinha o espaço onde fica o dicionário */
.dictionary {
  width: 72%;
  margin-left: auto;
	margin-right: auto;
	text-align: center;
  color: rgb(175,171,171);
  font-size: 12pt;
}

/* Alinha e formata cada letra e barra do dicionário */
.dictionary-letter {
  font-family: GlacialIndifference;
  width: 72%;
  margin-left: 20%;
  font-size: 18pt;
  color:rgb(175,171,171);
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Padroniza as letras dos dicionários como links */
.dictionary a {
  text-decoration: none;
  width: 72%;
  margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: GlacialIndifference;
  color: rgb(118,113,113);
  font-size: 12pt;
}

/* Troca a cor da letra do dicionário quando passa o mouse em cima */
.dictionary a:hover {
  color: rgb(237,125,49);
}

/* Contagem de profissionais em determinado serviço */
.workers-count {
  font-family: GlacialIndifference;
  font-size: 10pt;
  margin-bottom: 10px;
  color: rgb(175,171,171);
}

/* Espaço para o ícone de cada serviço */
.imagecontainer {
  width: 7%;
  margin-left: 23%;
}

/* Espaço para o texto com título e descrição do serviço */
.textcontainer {
  width: 50%;
}

/* Ícone para o serviço */
.job-icon {
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Nome do serviço */
.job-name {
  font-family: GlacialIndifference;
  font-size: 12pt;
  margin-bottom: 6px;
  margin-top: 10px;
}

/* Desce a barra suavemente quando clica numa letra do dicionário*/
html {
	scroll-behavior: smooth;
}

/* Aumenta a suavidade que a barra desce quando clica na letra do dicionário*/
@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

/* Define a cor do serviço para cinza antes de passar o mouse */
.job-link a{
  text-decoration: none;
  color: rgb(118,113,113);
}

/* Sublinha título do serviço*/
.job-link a:hover{
  color: rgb(237,125,49);
}

/* Troca o ícone pelo ícone laranja */
.job-link a:hover .icon-button-class{
  color: rgb(237,125,49);
  background-image: url('../assets/Ícones/privadalaranja.png');
  outline: none;
}

/* Lugar onde fica o ícone */
.icon-button-class {
  width: 70px;
	height: 70px;
	border-style: none;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: white;
  background-image: url('../assets/Ícones/privada.png');
}
