.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* criado por Enzo Italiano */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
  font-family: GlacialIndifference;
  src: url(./styles/GlacialIndifference-Regular.otf);
}

@media only screen and (min-width: 1200px){
  .container-fluid {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    max-width: 1140px;
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px){
  .container-fluid {
    margin: auto;
    max-width: 960px;
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 576px){
  .wave-container{
    display: none;
  }
}

.wave-container{
  /* position: sticky; */
  /* top: 68px; */
  /* z-index: 100; */
}

button {
  outline: none !important;
}
button:focus {
  outline: none;
}
