.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* criado por Enzo Italiano */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
  font-family: GlacialIndifference;
  src: url(./styles/GlacialIndifference-Regular.otf);
}

div {
  font-family: 'Bebas Neue', cursive;
  color: #262626;
}

.container-fluid {
  margin: auto;
  width: 75%;
}
